@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="container">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img src="~/img/apps140.png" alt="Apps Generator">
            <h2>MVC Application</h2>
            <p>Apps Generator allows you to generate your MVC application easly, contains "Controllers, Views and Models".</p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="~/img/apps140.png" alt="Apps Generator">
            <h2>Application Theme</h2>
            <p>Apps Generator allows you choose your application theme from 17 theme that we included.</p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="~/img/apps140.png" alt="Apps Generator">
            <h2>Windows Azure</h2>
            <p>Apps Generator allows you to deploy your MVC application directly to your Windows Azure account.</p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Developers need an powerfull tool to create applications so you need <span class="text-muted">Apps Generator.</span></h2>
            <p class="lead">Apps Generator create you application easly and allows you to open it with Visual Studio.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" alt="Apps Generator" src="~/img/apps500.png">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" alt="Apps Generator" src="~/img/apps500.png">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">Easly deploy your application on Windows Azure</h2>
            <p class="lead">Apps Generator needs only your connection information only deploy on Windows Azure.</p>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Easly to generate your Controllers, Views, Models and Others</h2>
            <p class="lead">Apps Generator needs only you connection information only to generate your application.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" alt="Apps Generator" src="~/img/apps500.png">
        </div>
    </div>

</div>